<h1>Framework</h1>
<h3>3. O que é framework e na sua opinião qual é a importância de utilizar? </h3>

<p>Resposta
	<br>
	Basicamente, o Framework provê um template de base com diversas funções para um desenvolvedor, de modo que é desnecessário gastar tempo reproduzindo funções em diversos projetos.
Na minha opinão eu acho bom pois é basicamente uma caixa de ferramentas.</p>
