<h1>Git</h1>
<h3>5. Quais as ferramentas para trabalhar com controle de versões. E qual é importância
de versionar o software?</h3>

<p>Resposta 
	<br> 
	GitHub Subversion e Mercurial.
O esquema de sequência na ordem crescente ajuda a evitar a confusão sobre qual versão do software está sendo utilizada. Uma coisa valiosa em um mundo de ameaças virtuais constantes. Além disso, existem outros fatores que tornam o versionamento uma parte estratégica do desenvolvimento de softwares. 
</p>
