<h1>API</h1>
<h3>4. O que é um API, e quais as vantagens de utilizá-las. Dê exemplos.</h3>

<p>Resposta 
	<br>
	API é o acrônimo de Application Programming Interface ou, em português, Interface de Programação de Aplicativos.
</p>