<h1>MVC</h1>
<h3>
1. Padrão MVC é adotado em várias ferramentas de desenvolvimento de software,
responda as questões abaixo:
a. Explique o padrão MVC e como ele funciona.
b. A classe DAO do JAVA ela se encaixa em qual camada do MVC, explique.
c. Quais os frameworks em javascript mais populares que trabalha na
comanda de visão?
d. O que é um ORM. Cite o ORM do Ruby on Rails e no Java.?
</h3>
<p>Respostas 
	<br>
	A. O artigo apresenta o que é um padrão de projeto e foca seu estudo no modelo Model-View-Controller citando as vantagens e desvantagens na sua utilização. Demonstra e exemplifica como fazer o uso correto das três camadas do padrão MVC. Aborda o que deve ser implementado em cada uma destas camadas para proporcionar aos desenvolvedores uma manutenção mais fácil e o possível reaproveitamento de classes e partes do projeto em projetos futuros.

B. O DAO terá uma rápida abordagem no artigo, sendo demonstrado em qual camada ele deve ser aplicado quando usado em conjunto com o modelo MVC. 

C. ReactJS jQuery.

D. ORM (Object Relational Mapper) é uma técnica de mapeamento objeto relacional que permite fazer uma relação dos objetos com os dados que os mesmos representam.
Java: Hibernate ORM
Ruby: Active Record
</p>
