<h1>HTTP</h1>
<h3>
	2. Quais são os métodos de requisição HTTP, e qual são mais utilizados?
</h3>

<p>
	R : GET, POST, PUT, DELETE, TRACE, OPTIONS, PATCH, CONNECT e HEAD.
Os mais utilizados é GET e POST.
</p>
